// create box-colors and title font & text font
.box {
    .box-colors {
        .box-color-1 {
            width: 50px;
            height: 50px;
        }

        .box-color-2 {
            width: 50px;
            height: 50px;
        }

        .box-color-3 {
            width: 50px;
            height: 50px;
        }

        .box-color-4 {
            width: 50px;
            height: 50px;
        }

        .box-color-5 {
            width: 50px;
            height: 50px;
        }
    }
}