.f-6 {
    font-size: 6px;
}

.f-8 {
    font-size: 8px;
}

.f-10 {
    font-size: .625rem;
}

.f-12 {
    font-size: .75rem;
}

.f-14 {
    font-size: .875rem;
}

.f-16 {
    font-size: 1rem;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 1.25rem;
}

.f-22 {
    font-size: 22px;
}

.b-gray {
    background-color: $color-gray;
}

.b-lightgray {
    background-color: $color-lightgray;
}

.b-white {
    background-color: $color-white;
}

.b-orange {
    background-color: $color-orange;
}

.b-navy {
    background-color: $color-navy;
}

.b-green {
    background-color: $color-green;
}

.b-dark {
    background-color: $color-dark;
}

.c-gray {
    color: $color-gray;
}

.c-lightgray {
    color: $color-lightgray;
}

.c-white {
    color: $color-white;
}

.c-orange {
    color: $color-orange;
}

.c-navy {
    color: $color-navy;
}

.c-green {
    color: $color-green;
}

.c-dark {
    color: $color-dark;
}