//-------------------------------------------
//   variables.scss
//   - font default
//   - colors
//   - numbers
//-----------------------------------------

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;

//===============================================
//colors
//===============================================
$color-transparent: transparent;
$color-gray: #e8e8e8;
$color-gray-blur-7: rgba(232, 232, 232, 0.7);
$color-gray-2: #888;
$color-gray-3: #8A8A8A;
$color-silver-chalice: #B0B0B0;
$color-silver-chalice-2: #ABABAB;
$color-hurricane: #918989;
$color-gallery: #EDEDED;
$color-lightgray: #f4f6f6;
$color-silver: #C4C4C4;
$color-wild-sand: #F4F4F4;
$color-mercury: #E6E6E6;
$color-dusty-gray: #9A9A9A;
$color-dove-gray: #706F6F;
$color-navy: #313450;
$color-navy-blur-25: rgba(49, 52, 80, 0.25);
$color-fiord: #3d4163;
$color-fiord-5: rgba(61, 65, 99, 0.5);
$color-fiord-6: rgba(61, 65, 99, 0.6);
$color-comet: #585A71;
$color-comet-2: #64677C;
$color-storm-gray: #6F7184;
$color-orange: #d35656;
$color-el-salva: #8C3030;
$color-orange-blur-35: rgba(211, 86, 86, 0.35);
$color-stiletto: #A73636;
$color-green: #50d890;
$color-sea-green: #2E7D32;
$color-green-blur-35: rgba(46, 125, 50, 0.35);
$color-white: #fff;
$color-white-blur-3: rgba(255, 255, 255, 0.3);
$color-white-blur-5: rgba(255, 255, 255, 0.5);
$color-white-8: rgba(255, 255, 255, 0.8);
$color-dark: #666;
$color-black: #000;
$color-black-blur-6: rgba(0, 0, 0, 0.6);
$color-broom: #FFE816;
$color-chestnut-rose: #D35656;
$color-boulder: #797979;
$color-picasso : #FFF29f;
$color-reef : #D2FF9F;

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;