//-------------------------------------------
//   variables.scss
//   - font default
//   - colors
//   - numbers
//-----------------------------------------

//===============================================
//font default
//===============================================
$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;

//===============================================
//colors
//===============================================
$color-transparent: transparent;
$color-gray: #e8e8e8;
$color-gray-2: #888;
$color-gallery: #EDEDED;
$color-lightgray: #f4f6f6;
$color-navy: #313450;
$color-fiord: #3d4163;
$color-fiord-5: rgba(61, 65, 99, 0.5);
$color-fiord-6: rgba(61, 65, 99, 0.6);
$color-comet: #585A71;
$color-storm-gray: #6F7184;
$color-orange: #d35656;
$color-el-salva: #8C3030;
$color-orange-blur-35: rgba(211, 86, 86, 0.35);
$color-green: #50d890;
$color-white: #fff;
$color-white-blur-3: rgba(255, 255, 255, 0.3);
$color-white-blur-5: rgba(255, 255, 255, 0.5);
$color-white-8: rgba(255, 255, 255, 0.8);
$color-dark: #666;
$color-black: #000;

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;