.slider {
  .slider-title{
    @include media-query("(max-width: 767px)") {
      *{
        font-size: 20px;
      }
    }
  }
  .timer-slider-left {
    .flickity-page-dots {
      display: none;
    }

    .product-box {
      .card-deck {
        .card {
          .card-head {
            .card-img {
              min-height: 217px;
              @include media-query("(max-width: 991px)") {
                min-height: 160px;
              }
              @include media-query("(max-width: 767px)") {
                min-height: 160px;
              }
            }

            .discount {
              right: -28px;
              bottom: 26px;
              box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
              @include media-query("(max-width: 991px)") {
                right: auto;
                left: 20px;
                top: 20px;
                bottom: auto;
                span{
                  font-size: 18px;
                }
              }
              @include media-query("(max-width: 767px)") {
                left: 20px;
                top: 30px;
              }
            }
          }
          .card-body{
            @include media-query("(max-width: 991px)") {
              h4 {
                font-size: 26px;
              }
              label {
                font-size: 18px;
              }
              .price {
                .color-green {
                  font-size: 18px;
                }
                span{
                  &.color-green {
                    font-size: 18px;
                  }
                  &.color-white{
                    font-size: 14px;
                  }
                }
              }
            }
            @include media-query("(max-width: 767px)") {
              h4 {
                font-size: 20px;
              }
              label {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  [data-timer-slider] {
    width: 100%;
    height: 5px;
    border-radius: 20px;
    overflow: hidden;

    span {
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
    }
  }

  .chevron {
    width: 40px;
    height: 40px;
    transition: all .2s ease;
    margin: 0 !important;
    i{
      font-size: 14px;
    }
    @include media-query("(max-width: 780px)") {
      width: 40px;
      height: 40px;
    }

    &.custom-box-shadow {
      box-shadow: 0px 3px 10px $color-fiord-6;
    }

    &[disabled] {
      opacity: 0;
      visibility: hidden;
    }

    &.position-absolute {
      top: 50%;
      transform: translate(0, -50%);

      &.chevron-left {
        left: 28px;
      }

      &.chevron-right {
        right: 28px;
      }

      &.custom-left-right {
        &.chevron-left {
          left: -18px;
        }

        &.chevron-right {
          right: -18px;
        }

        &.chevrons-right {
          left: auto;
          right: -20px;
        }


        @include media-query("(max-width: 780px)") {
          .chevron {
            width: 40px;
            height: 40px;
          }
          &.chevron-left {
            left: 5px;
          }

          &.chevron-right {
            right: 5px;
          }
        }
      }
    }

    &.bgc-white-blur-5 {
      &:hover {
        background-color: $color-white;
      }
    }
  }

  .this-slider {
    &.five-item-show {
      .item {
        flex: 0 0 20%;
        max-width: 20%;
        width: 20%;
        @include media-query("(max-width: 991px)") {
          flex: 0 0 33.33333%;
          max-width: 33.33333%;
          width: 33.33333%;
        }
        @include media-query("(max-width: 767px)") {
          flex: 0 0 50%;
          max-width: 50%;
          width: 50%;
        }
        @include media-query("(max-width: 767px)") {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
        }
        //@include media-query("(max-width: 350px)"){
        //  flex: 0 0 100%;
        //  max-width: 100%;
        //  width: 100%;
        //}
      }
    }

    &.this-timer-slider-right {
      border: 5px solid $color-orange;

      .product-box {
        .card-deck {
          .card {
            .card-head {
              .card-img {
                min-height: 140px;
                max-height: 140px;
                width: auto;
                @include media-query("(max-width: 991px) and (min-width: 767px)") {
                  min-height: 130px;
                  max-height: 130px;
                }
                @include media-query("(max-width: 767px)") {
                  min-height: 40vw;
                  max-height: 40vw;
                }
              }
            }
            .card-body{
              @include media-query("(max-width: 991px) and (min-width: 767px)") {
                h6{
                  font-size: 16px;
                }
                .price{
                  span{
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slider-sidebar-title {
    width: 100%;
    @include media-query("(max-width: 767px)") {
      border-radius: 50px;
      *{
        font-size: 24px;
      }
    }
  }

  &.slider-home-page {
    .chevron {
      @include media-query("(max-width: 991px)") {
        top: calc(50% - 28px);
      }
    }
    .flickity-page-dots {
      margin-top: 34px;
      bottom: 0;
      @include media-query("(max-width: 991px)") {
        margin-top: 10px;
      }

      .dot {
        width: 15px;
        height: 15px;
        background-color: $color-gray;
        transition: all .2s ease;
        opacity: 1;

        &.is-selected {
          border-radius: 10px;
          width: 60px;
          background-color: $color-orange;
          box-shadow: 0px 3px 6px $color-orange-blur-35;
        }
      }
    }
  }
}

@keyframes timer-slider {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.nav-slider {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  top: 0;
  width: 90px;
  .chevron{
    width: 30px;
    height: 30px;
    i{
      font-size: 8px;
    }
  }

  .nav-slider-main {
    height: 168px;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 24px;

    @include media-query("(max-width: 991px) and (min-width:768px)") {
      height: 90px;
    }
    @include media-query("(max-width: 767px)") {
      right: 4px;
      left: 9px;
    }
    .this-slider {
      margin-left: 10px;
    }
  }

  .chevron{
    @include media-query("(max-width: 767px)") {
        background-color: $color-navy;
    }
  }
  .item {
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 40px;
    overflow: hidden;
    transition: all .2s ease;

    @include media-query("(max-width: 767px)") {
      width: 36px;
      &:not(.is-nav-selected){
        margin-right: 4px;
      }
    }
    > div {
      padding-bottom: 2px;
      background-color: $color-white-blur-3;
      @include media-query("(max-width: 767px)") {
        background-color: $color-fiord-5;
      }

      span {
        transition: all .2s ease;
        opacity: 0;
        visibility: hidden;
      }
    }

    &.is-nav-selected {
      width: 76px;

      > div {
        background: $color-white;
        @include media-query("(max-width: 767px)") {
          background-color: $color-navy;
          border:1px solid $color-white;
          span {
            color: $color-white;
          }
        }
        span {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
