// create cumments card
.comment {
  .card {
    border-radius: 20px;
    background-color: $color-lightgray;

    .card-head {
      .l-head {
        img {
          border-radius: 50%;
          width: 50px;
        }

        @include media-query("(max-width: 400px)") {
            .text-muted{
                width: 100%;
                display: flex;
                margin-top: 12px;
            }
        }
      }

      .r-head {
        i {
          border: 2px solid $color-gray;
          border-radius: 50%;
          padding: 10px;
          background-color: $color-white;
        }
      }
    }
  }
}