.floating {
  .floating-btn {
    width: 40px;
    height: 40px;

    i {
      width: 18px;
      height: 18px;
      bottom: -6px;
      border-radius: 50%;
      right: -3px;
    }
    &:not(.stop-change-monetary-unit){
      border: 2px solid $color-gray;
      i {
        font-size: 6px;
      }
    }
  }

  .floating-menu {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    z-index: 1;
    top: 100%;

    li {
      a {
        &.floating-main-btn {
          box-shadow: 0 0 6px -2px $color-gray;
          width: 40px;
          height: 40px;
          transition: 0.2s ease-out;

          &.scale-transition {
            transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;

            &.scale-out {
              transform: scale(0);
              transition: transform 0.2s !important;
            }

            &.scale-in {
              transform: scale(1);
            }
          }
          &.bgc-orange{
            &:hover {
              background-color: $color-el-salva;
              color: $color-white;
            }
          }
          &.bgc-blue-chill{
            &:hover {
              background-color: $color-blue-chill-2;
              color: $color-white;
            }
          }
          &.bgc-cerulean{
            &:hover {
              background-color: $color-deep-cerulean;
              color: $color-white;
            }
          }
          &.bgc-lochmara{
            &:hover {
              background-color: $color-allports;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}


