.modal{
  &.login-popup{
    .modal-content{
      width: 360px;
      .login-icon{
        width: 100px;
        height: 100px;
        left: 0;
        right: 0;
        margin: auto;
        top: -50px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        i{
          font-size: 64px;
        }
      }
      .product-box{
        input{
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) inset;
          @include placeholder(){
            color: rgba(255, 255, 255, 0.3);
          }
          &:focus{
            @include placeholder(){
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }

  &.search-box-modal {
    .icon-font-search {
      left: 10px;
      top: calc(50% + 2px);
      transform: translate(0, -50%);
    }
  }
  .login-sign-popup{
    .modal-content{
      width: 328px;
      .login-sign-input-label{
        left: 0;
        top: 8px;
        bottom: 8px;
        margin-bottom: 0;
        padding: 0 10px;
        //border-right: 1px solid $color-alto-6;
        background-color: $color-white;

      }
    }
  }
}