.profile {
  .profile-sidebar {

    @include media-query("(min-width: 767px)") {
      .sticky {
        position: sticky;
        top: 120px;
        z-index: 2;
      }
    }
    @include media-query("(max-width: 767px)") {
      border-left: none;
    }

    .profile-sidebar-header {
      .profile-sidebar-header-avatar {
        width: 85px;
        height: 85px;
        border: 3px solid $color-navy;

        .edit-avatar {
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          visibility: hidden;
          opacity: 0;
          transition: all .2s ease;
        }

        &:hover,
        &.active {
          .edit-avatar {
            visibility: visible;
            opacity: 1;
          }
        }

        @include media-query("(max-width: 450px)") {
          width: 65px;
          height: 65px;
        }
      }

      .profile-sidebar-header-text {
        width: calc(100% - 110px);
        @include media-query("(max-width: 450px)") {
          width: calc(100% - 90px);
        }

        > div {
          width: calc(100% - 40px);
          @include media-query("(max-width: 450px)") {
            width: calc(100% - 90px);
          }
        }

        .notification-btn {
          width: 40px;
          height: 40px;

          &:hover {
            background-color: $color-gray-blur-7;
          }

          &::after {
            content: "";
            transition: all .2s ease;
            position: absolute;
            width: 8px;
            height: 8px;
            right: 10px;
            top: 14px;
            background-color: $color-orange;
            border-radius: 50%;
          }
        }

        .profile-sidebar-main-btn {
          width: 40px;
          height: 40px;
        }
      }
    }

    .profile-sidebar-main {
      ul {
        li {
          &.active {
            border-radius: 0 50px 50px 0;
            background-color: $color-navy;
            color: $color-white;
          }
        }
      }

      @include media-query("(max-width: 767px)") {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        left: -8px;
        right: 0;
        top: calc(100% - 18px);
        padding: 10px;
        border-radius: 17px;
        border: 3px solid $color-hurricane;
        transition: all .2s ease;
        z-index: 1;
        &.active {
          visibility: visible;
          opacity: 1;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          border-bottom: 10px solid transparent;
          border-left: 10px solid transparent;
          transform: rotate(-45deg);
        }
        &::before {
          right: 14px;
          top: -12px;
          border-top: 10px solid $color-hurricane;
          border-right: 10px solid $color-hurricane;
        }
        &::after {
          right: 14px;
          top: -8px;
          border-top: 10px solid $color-white;
          border-right: 10px solid $color-white;
        }
        ul {
          li {
            &.active {
              border-radius: 50px;
            }
          }
        }
      }

      @include media-query("(max-width: 767px) and (min-width:576px)") {
        left: 8px;
      }
      @include media-query("(max-width: 575px)") {
        left: 10px;
        right: 10px;
      }
    }
  }
  .profile-main {
    > ul {
      > li {
        transition: all .5s ease;
        visibility: visible;
        position: absolute;
        opacity: 1;
        right: 0;
        overflow: hidden;
        &:not(.active) {
          visibility: hidden;
          opacity: 0;
        }
        .after-purchase {
          &.purchase-records-parent {
            height: calc(100% - 54px);
            .after-purchase-main {
              .view-purchase {
                @include media-query("(max-width: 520px)") {
                  padding: 0 !important;
                }
              }
              .purchase-records {
                @include media-query("(max-width: 1200px) and (min-width:991px)") {
                  > .purchase-records-main {
                    width: 380px !important;
                  }
                }
              }
            }
          }
          .after-purchase-main {
            width: auto;
            min-height: inherit;
            .last-support-message {
              @include media-query("(max-width: 1200px) and (min-width:991px)") {
                width: 380px !important;
              }
            }
            .ticket-list-parent {
              .ticket-list {
                height: 408px;
                @include media-query("(max-width: 1200px)") {
                  .w-75 {
                    width: 30% !important;
                  }
                }
              }
            }
          }
        }
        .box-price {
          @include media-query("(max-width: 1200px)") {
            .box-price-header {
              i {
                font-size: 16px !important;
              }
              h6 {
                font-size: 12px !important;
              }
            }
            .box-price-text {
              padding: 20px 10px !important;
              span {
                font-size: 16px !important;
              }
            }
          }
        }

        .after-purchase {
          table{
            @include media-query("(max-width: 520px)") {
                width: 380px !important;
            }
          }
          thead {
            th{
              border-top: none;
              border-bottom: 2px solid #E1E1E1;
            }
          }
          tbody {
            td{
              border-top: none;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
.small-popup {
  right: -8px;
  min-width: 260px;
  top: calc(100% + 15px);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease;
  z-index: 1;
  .untracked {
    position: relative;
    &::before {
      content: "";
      transition: all 0.2s ease;
      position: absolute;
      width: 7px;
      height: 7px;
      right: 10px;
      top: 7px;
      background-color: $color-orange;
      border-radius: 50%;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &.shop-list-popup {
    right: 5px;
    min-width: 350px;
    &::before{
      top:-17px;
      right: 20px;
    }
    .scrollbar-inner{
      max-height: 248px;
    }
    .shop-list-popup-img{
      width: 68px;
      height: 68px;
    }
    .shop-list-popup-main{
      width: calc(100% - 68px);
      .nice-number{
        flex-direction: row-reverse;
        input{
          height: 22px;
          width: 22px !important;
          padding: 0 4px;
        }
        button{
          border: none;
          background-color: $color-white-blur-3;
          width: 22px;
          height: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 16px;
          border-radius: 8px;
          padding-left: 1px;
          color: $color-white-blur-3;
          outline: none;

        }
      }
    }
  }
  .scrollbar-inner {
    max-height: 176px;
  }
  &::before {
    content: "";
    position: absolute;
    border-right: 12px solid transparent;
    border-bottom: 20px solid white;
    border-left: 12px solid transparent;
  }
  &.notification-popup {
    @include media-query("(max-width: 767px)") {
      right: 38px;
      min-width: 240px;
    }
    &::before {
      right: 16px;
      top: -20px;
    }
    li{
      border-bottom: 1px solid $color-gray;
    }
  }
  &.avatar-popup {
    &::before {
      left: 30px;
      top: -20px;
    }
    .profile-sidebar-header-avatar {
      width: 72px !important;
      height: 72px !important;
      &.active,
      &:hover {
        border: 3px solid $color-sea-green;
      }
    }
  }
}