/* Vertical Accordion Style */
.vertical-slider{

}
.va-container {
  position: relative;
  margin: 0 auto 0 auto;
}

.va-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.va-slice {
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0px;
  overflow: hidden;
}

.va-title {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  margin-left: 20px;
  color: #fff;
  text-shadow: 0px 0px 1px white;
}

.va-content {
  display: none;
  margin-left: 25px;
}

.va-slice p {
  font-size: 22px;
  font-style: italic;
  font-family: Georgia, serif;
}

.va-slice ul {
  margin-top: 20px;
}

.va-slice ul li {
  float: left;
  margin: 0px 2px;
}

.va-slice ul li a {
  background: #eede2f;
  padding: 3px 6px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.va-slice ul li a:hover {
  color: #fff;
  text-shadow: none;
}
.va-nav{
  height: 64px;
}
.va-nav > div {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  display: none;
  z-index: 100;
  transition: all .2s ease;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(194, 194, 194, 0.35);
}
.va-nav > div {
  transform: translate(-50%, 0);
  &.va-nav-next{
    left: calc(50% - 20px);
  }
  &.va-nav-prev{
    left: calc(50% + 30px);
  }
}

//.purchase-parent{
//  > .row{
//    svg{
//      position: absolute;
//      left: 0;
//      top: 0;
//      background-color: #000;
//      width: 40%;
//      bottom: 0;
//    }
//  }
//}
.warranty-icon {
  font-size: 18px;

  &::before,
  &::after {
    font-family: icon-font, $DefaultFonts;
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
  }

  &::before {
    content: "\f125";
  }

  &::after {
    content: "\f126";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6px;
    top: 50%;
    color: $color-sea-green;
  }
}

.purchase {
  .product-box {
    .product-check-out {
      .card {
        border-radius: 60px;

        .card-img {
          border-radius: 36px;
          border: 3px solid #e8e8e8;
          height: 104px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .close{
          right: 10px;
          top: 0;
          width: 25px;
          height: 25px;
          opacity: 1;
          padding-bottom: 1px;
        }
      }
      .add-low{
        .spinner-parent {
          box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
          width: 114px;
          border: 3px solid $color-gray;
          button{
            padding: 0 12px 2px 12px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .purchase-main{
    input{
      height: 60px;
    }
    textarea{
      min-height: 170px;
      max-height: 350px;
    }
    input,
    textarea{
      box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.1);
    }
    .edit-form{
      border: 3px solid $color-silver-chalice;
      &.disabled{
        visibility: hidden;
      }
    }
  }
}
.form-progress{
  .progress-item {
    .progress-item-timeline {
      height: 5px;
      width: 100%;
      span,
      &::after {
        content: "";
        position: absolute;
        background-color: $color-gray;
      }
      &::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      span {
        width: 18px;
        height: 18px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 1;
        outline: 6px solid $color-lightgray;
      }
    }
    &:first-child {
      .progress-item-timeline {
        &::after {
          left: 50%;

        }
      }
    }
    &:last-child {
      .progress-item-timeline {
        &::after {
          right: 50%;
        }
      }
    }
    &.passed,
    &.active {
      .progress-item-timeline {
        span,
        &::after {
          background-color: $color-storm-gray;
        }
      }
    }
    &.active{
      .progress-item-timeline{
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: $color-gray;
          z-index: 1;
        }
      }
    }

    &:last-child {
      .progress-item-timeline {
        &::before {
          display: none;
        }
      }
    }
    //span {
    //  &::before {
    //    content: "";
    //    position: absolute;
    //    left: calc(50% + 16px);
    //    height: 3px;
    //    background-color: $color-gray;
    //    bottom: 0;
    //    right: 0;
    //    z-index: 0;
    //  }
    //}

    //&::before,
    //&::after {
    //  content: "";
    //  position: absolute;
    //}

    //&::before {
    //  width: 20px;
    //  height: 20px;
    //  left: 0;
    //  right: 0;
    //  margin: auto;
    //  background-color: $color-gray;
    //  border-radius: 50%;
    //  bottom: -8px;
    //  z-index: 1;
    //}

    //&::after {
    //  height: 3px;
    //  left: 0;
    //  right: calc(50% + 15px);
    //  background-color: $color-gray;
    //  bottom: 0;
    //}

    //&:first-of-type{
    //  &::after{
    //    content: none;
    //  }
    //}
    //&:last-of-type{
    //  span::before{
    //    content: none;
    //  }
    //}
    //&.active{
    //  &::before{
    //    background-color: $color-storm-gray;
    //  }
    //  &:first-of-type{
    //    span{
    //      &::before{
    //        background-color: $color-storm-gray;
    //      }
    //    }
    //    +{
    //      ::after{
    //        background-color: $color-storm-gray;
    //      }
    //    }
    //  }
    //}
  }
}
