.spinner-parent{
  box-shadow: 0 3px 6px rgba(46, 125, 50, 0.35);
  @include media-query("(max-width: 767px) and (min-width:384px)") {
    margin-bottom: 0 !important;
  }
  input{
    width: 22px;
    border: none;
    outline: none;
    @include media-query("(max-width: 767px)") {
      font-size: 18px;
      padding-bottom: 4px;
    }
  }
  button{
    border: none;
    background-color: $color-gray;
    padding: 0 10px 6px 12px;
    font-size: 25px;
    outline: none;
    line-height: 1;
    @include media-query("(max-width: 767px)") {
      padding: 0 10px 0px 12px;
      font-size: 18px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}