// create tabs
.tabs {
    .box {
        border: 2px solid $color-lightgray;
        border-radius: 20px;
        position: relative;
        min-height: 45px;

        .nav {
            position: absolute;
            top: -20px;
            left: 50px;

            .nav-item {
                border-radius: 20px;
            }
        }
    }
}